[v-cloak]{
    display:none;
}
#app {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: mistyrose;
}

html {
    background-color:mistyrose;
}

#catFact {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-style: dashed;
    border-color: black;
}

#clickButton {
    margin-bottom: 10px;
}